{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% block script %}
<script src="{% static 'network/helper.js' %}"></script>
{% endblock %}

<div class="body" id="profile">
    <div>
        <h3>{{ owner.username }}</h3>

        <div id="profile-info">
            <h6>Followers: {{ followers }}  //  Following: {{ following }}</h6>
            <form action="{% url 'profile' owner.id %}" method="post">
                {% if user.id != owner.id %}
                    {% csrf_token %}
                    {% if button == "Follow" %}
                        <button type="submit" class="buttons" name="button" value="Follow">Follow</button>
                    {% elif button == "Unfollow" %}
                        <button type="submit" class="buttons" name="button" value="Unfollow">Unfollow</button>
                    {% else %}
                        Wrong path taken! Value is {{ button }}
                    {% endif %}
                {% endif %}
            </form>

        </div>
    </div>

    <hr class="body-hr">

    <div>
        <h5>Ordered by: latest first</h5>
        {% for post in posts %}
        <div class="posts">
            <h6><div id="post-{{post.id}}">{{ post.post }}</div></h6>

            <div class="edit-box" id="edit-{{post.id}}-box" style="display:none">
                <h5>Edit post</h5>
                <div id="edit-{{post.id}}-confirm-message" style="display:none; color:red"><h6>Warning: Changes will be lost</h6></div>
                <textarea class="edit-form" id="edit-{{post.id}}-form" name="edit-box" placeholder="Change your post here!"></textarea>
                <div class="next-previous">
                    <div>
                        <button id="edit-{{post.id}}-cancel" class="buttons" onclick="confirm('{{ post.id }}')">Cancel</button>
                        <button id="edit-{{post.id}}-confirm" class="buttons" onclick="edit('{{ post.id }}')" disabled
                                style="font-weight : bold">Confirm Cancel</button>
                    </div>
                    <button id="edit-{{post.id}}-submit" class="buttons"
                            style="background-color:#002f87; color:white; font-weight : bold">
                        SAVE
                    </button>
                </div>
            </div>
            <hr>
            <h6 id="like-{{post.id}}-count">{{ post.likes }} Likes</h6>
            {% if post.user.id == user.id %}
                <button id="edit-{{post.id}}-button" class="buttons" onclick="edit('{{ post.id }}')">Edit</button>
            {% endif %}
            {% if user.is_authenticated %}
                <button id="like-{{post.id}}-button" class="buttons" onclick="like('{{ post.id }}')">
                    <span id="like-{{post.id}}-heart" class="hearts" style="color:black;font-size:15px;"> &#9829; LIKE</span>
                </button>
                <script type="text/javascript">
                    var id = "{{ post.id }}";
                    update_like_button(id);
                </script>
            {% else %}
                <button class="buttons" onclick="location.href='{% url 'login' %}'">
                    <span class="hearts" style="color:black;font-size:15px;"> &#9829; LIKE</span>
                </button>
            {% endif %}
            <div>{{ post.timestamp }}</div>
        </div>
        {% empty %}
            <div>Nothing here but us cowards!</div>
        {% endfor %}
    </div>

    <div class="next-previous">
        {% if posts.has_previous %}
        <button class="buttons" onclick="location.href='?page={{ posts.previous_page_number }}'">Prev Page</button>
        {% else %}
        <button class="buttons" disabled>Prev Page</button>
        {% endif %}

        <!--        This makes the left previous and right next buttons-->
        <div id="paginator-index" style="text-align:center">
            <div id="post-number">
                Showing {{ posts.start_index }}-{{ posts.end_index }} of {{ posts.paginator.count }}
            </div>
            <div id="page-number">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </div>
        </div>

        {% if posts.has_next %}
        <button class="buttons" onclick="location.href='?page={{ posts.next_page_number }}'">Next Page</button>
        {% else %}
        <button class="buttons" disabled>Next Page</button>
        {% endif %}
    </div>

    </div>

</div>

{% endblock %}

